@import url('https://fonts.googleapis.com/css?family=Oxygen');

html, body{
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
	height: 100%;
	
}

/*********************************************
**********************************************
**Styling for Navigation bar				**
**											**
**********************************************/
.navi-bar{
	
}

.logo{
	width: 60px;
	border-radius: 50%;
	position: relative;
	
}

.main-links{
	font-weight: bold;
	color: rgb(0, 0, 0);
	padding-bottom: 0;
}

.upper-links{
	padding-bottom: 0;
}


/*********************************************
**********************************************
**Styling for Main page      				**
**											**
**********************************************/

/*Main body*/
.main-body{
	border-radius: 1px;
	min-height: 100%;
	margin-bottom: -100px;
}

.main-body:after {
    content: "";
    display: block;
    height: 100px;
}

/*Article within a page*/
.article-header{
	font-weight: bold;
}

/*Footer*/

.footer{
	margin-top: 20px;
	height: 100px;
    background: #eee;
}



/*********************************************
**********************************************
**Styling for mobile devices				**
**											**
**********************************************/

/*----Android Devices---*/
/* Portrait and Landscape */
@media screen and (max-width: 768px) 
 {
 	*{
		box-sizing: border-box;
		font-family: 'Oxygen', sans-serif;
		font-size: 1.1em;
	
	}

 	.main-body{
		border: 1px solid black;
		border-radius: 5px;
		margin: 0 10px;
	}

}
